<%-include('nav.ejs')%>

<h1 class="text-success text-center"><b>WELCOME</b></h1>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 text-center" style="padding:10px 80px 10px 80px;">
            <table class="table table-bordered" style="border:4px; font-size: 20px ;">
                <tr style="background-color: rgb(240, 185, 22); text-align: center;">
                    <th class="fw-bold">Todays Collection</th>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
    </div>
</div>


<%-include('footer.ejs')%>
            

<!-- ????????????????????????????????????????????????????????? -->
<!-- below line missing start and end of ejs  and that is in the table tr-->
<!-- <td style="height: 50px;" class="fw-bold"> &#8377; order_ttl[0]['SUM(paid_amt)']</td> -->